.popup__container-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../image/Close-icon.svg);
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  top: -40px;
  right: -40px;
  cursor: pointer;
  border: none;
  padding: 0;
}

@media screen and ( max-width: 530px) {
  .popup__container-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: 20px;
  }
}